<ion-header>
  <ion-toolbar>
  <ion-title>GÉNEROS MUSICALES</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="cambiaColor()">Cambiar tema</ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container pagination="true" loop="true" slides-per-view="1">
    <swiper-slide *ngFor="let genre of genres">
      <div
        class="slide-content"
        [style.background-color]="obtenerColor(genre)"
        [style.color]="obtenerTextoColor()"
      >
        <h2>{{ genre.title }}</h2>
        <img [src]="genre.image" [alt]="genre.title" />
        <p>{{ genre.description }}</p>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>
