.slide-content {
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.4s ease, color 0.4s ease;
}

.slide-content img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
}

.slide-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.slide-content p {
  font-size: 18px;
  text-align: justify;
}
:host-context(.tema-claro) {
  ion-content {
    --background: #f4f4f4;
    color: #000;
  }
}

:host-context(.tema-oscuro) {
  ion-content {
    --background: #5f4085;
    color: #fff;
  }
}
 :host-context(.tema-claro) .slide-content {
  color: #000 !important;
}

:host-context(.tema-oscuro) .slide-content {
  color: #fff !important;
}

